<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @airplane.name %>
</p>

<p>
  <strong>Rows:</strong>
  <%= @airplane.rows %>
</p>

<p>
  <strong>Columns:</strong>
  <%= @airplane.columns %>
</p>
  <table class="seats">
    <tr>
      <td></td>
      <% (@airplane.rows).times do |row| %>
      <td> <%= row+1 %></td>
      <% end %>
    </tr>
    <% (@airplane.columns).times do |col| %>
    <tr>
      <td>
        <%= (('A'..'Z').to_a)[col] %>
      </td>
      <% (@airplane.rows).times do |row| %>
      <td class="planeSeats" id="<%= (('A'..'Z').to_a)[col]+(row+1).to_s %>">
        avail
      </td>
      <% end %>
    </tr>
    <% end %>
  </table>

</div>

<div class="controls col-xs-offset-4 col-md-offset-4 col-xs-4 col-md-4">
  <%= link_to 'Edit', edit_airplane_path(@airplane) %> |
  <%= link_to 'Back', airplanes_path %>
</div>
